{% extends 'base.html.twig' %}

{% block content %}
    <header class="masthead">
        <div class="container h-100">
            <div class="row h-100 align-items-center">
                <div class="col-12 text-center">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="2"></th>
                            {% for player in players %}
                                <th width="150">{{ player }}</th>
                            {% endfor %}
                        </tr>

                        {% for game in games %}
                            {% set questions = game.questions %}

                            {% for question in questions %}
                                <tr valign="middle">
                                    {% if loop.first %}
                                        <td rowspan="{{ questions|length }}">
                                            {{ game.name }}
                                        </td>
                                    {% endif %}

                                    <td>
                                        {{ question.label }}
                                    </td>

                                    {% for player in players %}
                                        <td>
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" class="custom-control-input" id="{{ loop.index }}-{{ question.id }}">
                                                <label class="custom-control-label" for="{{ loop.index }}-{{ question.id }}"></label>
                                            </div>
                                        </td>
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </header>
{% endblock %}
